<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>submit file</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
  </head>

  <body>

    <table>
      <tr>
	<td>ip address</td>
	<td>counts</td>
      </tr>
      {% for ipaddr, counts in ipaddr_head.iteritems %}
      <tr>
	<td>{{ipaddr}}</td>
	<td>{{counts}}</td>
      </tr>
      {% endfor %}
    </table>

    <img src="{{daytime_url}}"></body>

  </body>
</html>

